body {
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: relative;
	background-image: radial-gradient(#b3e5fb 20%, transparent 23%), radial-gradient(#b3e5fb 20%, transparent 23%);
	background-size: 50px 50px;
	background-position: 0 0, 25px 25px;
}

h1 {
	font-size: 10vw;
	color: #ffffff;
	text-shadow:  0 0 0.05em #60ccff, 0 0 0.15em #60ccff;
	position: relative;
	z-index: 2;
	pointer-events: none;
	text-align: center;
}

.float-image {
	height: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	z-index: 0;
}

.float-image.r {
	right: 0;
}

@media screen and (max-width: 480px) {
	main {
		background-size: 10.4166667vw 10.4166667vw;
		background-position: 0 0, 5.2083333vw 5.2083333vw;
	}
}

@media screen and (max-aspect-ratio: 9 / 16) {
	.float-image.r {
		left: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	h1 {
		font-size: 12vw;
	}
}
